

@import 'base/variables';

* {
    box-sizing: border-box; /*определяет как вычисляется общая ширина и высота элемента.*/
}

.container {
    max-width: 1110px; 
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.none {
    display: none;
}

@import 'blocks/header';
@import 'blocks/portfolio';
@import 'blocks/footer';
@import 'blocks/forest';

