.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../img/3.jpg') no-repeat 50%/cover;
    &__back {
        position: fixed;
        background: $bg-color2;
        opacity: .3;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        z-index: 90;
    }
    &__logo {
        position: fixed;
        top: 20px;
        left: 25%;
        display: flex;
        z-index: 100;
        img {
            width: 40px;
            margin-left: 10px;
        }
    }
    &__list {
        position: fixed;
        display: flex;
        margin: 0;
        top: 30px;
        right: 25%;
        list-style: none;
        z-index: 100;
    }
    &__link {
        margin-right: 20px;
        a {
            font-weight: 700;
            font-size: 16px;
            display: block;
            text-decoration: none;
            color:$text-color;
            &::after {
                display: block;
                position: relative;
                top: 5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $text-color;
                content: "";
                transition: width 0.3s ease-out;
            }
            &:hover::after,:focus::after {
                width: 100%;
            }
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
            margin: 0;
            font-weight: 700;
            font-size: 56px;
            line-height: 130%;
            color: $text-color;
        }
        h3 {
            margin-top: 25px;
            font-weight: 700;
            font-size: 16px;
            // line-height: 150%;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color:$text-color;
        }
    }
    &__arrow {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        cursor: pointer;
    }
}

.hamburger {
    display: none;
}